.header{
  inline-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  block-size: 37.5rem;
  border-bottom-left-radius: 100px;
  position: relative;
  background: url('../../images/bg-pattern-intro.svg');
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: left center;


  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    inline-size: 100%;
    block-size: 100%;
    background: linear-gradient(to bottom,  var(--Very-light-red),  var(--Light-red)) ;
    z-index: -1;
  }

  &__wrapper{
    inline-size: 100%;
    block-size: 100%;
    padding-inline: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6.75rem;

    padding-block-start: 56px;

    @include desktop{
      gap: 8.25rem;
    }
  }

  &__logo{
    block-size: 100%;
    img{
      max-block-size: 100%;
    }
  }

  &__navigation{
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 2rem;
   
    gap: 4rem;

    position: relative;

    inline-size: 100%;
    max-inline-size: 68.75rem;
    
    @include desktop{
      block-size: 2.5rem;
    }
  }

  &__nav{
    inline-size: 100%;
    display: flex;
    gap: 1.5rem;
    
    
    @include desktop{
      justify-content: space-between;
      align-items: center;
      block-size: 100%;
    }


    @include mobile{
      position: absolute;
      top: 69px;
      left: 0;

      padding: 1.5rem;
      border-radius: 5px;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
      background-color: white;
      flex-direction: column;

      //toggling
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 300ms ease;

    }

    &.open{
      //open menu in mobile
      opacity: 1;
      transform: scaleY(1);
      transition: transform 300ms ease;
    }

    & > ul{
      inline-size: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      

      @include desktop{
        flex-direction: row;
        gap: 2rem;
        block-size: 100%;
      }
    }

    & > ul > li{
      position: relative;
      block-size: 100%;

      @include mobile{
        inline-size: 100% ;
      }

      & > a{
        display: flex;
        block-size: 100%;

        @include desktop{
          align-items: center;
        }
        @include mobile{
          inline-size: 100%;
          justify-content: center;
          color: var(--Very-dark-blue-headings);
          font-family: 'Overpass', sans-serif;
        }
      }

      &:hover, &:focus-within{
         ul{
          display: block;
          opacity: 1;
          transform: scaleY(1);
          transition: all 1000ms ease;
        }
      }
    }

    & > ul > li > ul{
      inline-size: 100%;
      border-radius: 5px;
      padding-block: 1rem;

      display: flex;
      flex-direction: column;
      gap: .75rem;

      opacity: 0;
      
      transform: scaleY(0);
      transition: all 1000ms ease;
      transform-origin: top;
      display: none;

      @include mobile{
        background-color: #979797;
      }

      @include desktop{
        position: absolute;
        left: -1.5rem;
        top: 100%;
        inline-size: 168px;
        background-color: white;
        padding-inline: 1.5rem;
      }

      li{
        inline-size: 100%;
      }

      a{
        inline-size: 100%;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        line-height: 28px;

        @include mobile{
          font-family: 'Overpass', sans-serif;
        }

        @include desktop{
          justify-content: flex-start;
          color: #2D2E40;
          font-weight: 400;

          &:hover{
            font-weight: 700;
          }
        }
      }
      
    }
  }

  &__log{
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-block-start: 25px;
    border-block-start: 1px solid #e8e4e4;

    @include desktop{
      all: unset;
      display: flex;
      gap: 2rem;
    }
  }

  &__hero{
    inline-size: 100%;
    max-inline-size: 57.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__content{
      text-align: center;

      h1{
        font-size: clamp(2.25rem, 1.6338rem + 2.6291vw, 4rem);
        line-height: clamp(3.43rem, 2.4811rem + 4.0488vw, 6.125rem);
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
      }

      p{
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
      }
    }

    &__buttons{
      inline-size: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__hamburger{
    block-size: 100%;
    inline-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    background: none;
    cursor: pointer;  
    
    @include desktop{
      display: none;
    }

    span{
      display: block;
      block-size: 3px;
      inline-size: 1.6rem;
      background-color: white;
      position: relative;
      transition: all 300ms ease;

      &::before, &::after{
        content: '';
        height: 3px;
        position: absolute;
        inline-size: inherit;
        background-color: white;
        border-radius: 3px;
        left: 0;
        transition: all 300ms ease;

      }

      &::before{
        transform: translateY(-7px);
      }

      &::after{
        transform: translateY(7px);
      }

    }

    &.close{

      span{
        background-color: transparent;
        &::before{
          transform: translateY(0) rotate(-45deg);
        }

        &::after{
          transform: translateY(0) rotate(45deg);
        }
      }

    }
  }
}